
.calendar-container {
  background: rgba(255, 255, 255, 0.1); 
  backdrop-filter: blur(10px);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.react-calendar {
  border: none;
  border-radius: 10px;
  background-color: transparent;
  box-shadow: none;
}

.react-calendar__tile--active {
  background: #ff69b4;  
  color: white;
}

.highlight-today {
  background-color: rgba(0, 204, 255, 0.6);
  border-radius: 50%;
  color: white;
}
